body{
    background-color: #100F04;
    font-family: 'inter', sans-serif;
    margin: 0;
}
header{
    justify-content: flex-end;
    text-align: right;
    height: 0 0 0 0;
    background-color: #000000;
    position: center;
    padding: 10px;
    min-height: 150px;
}

.agendamentoCentral {
    background-color: #FFD30F;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none; /* Remove o sublinhado */
    font-size: 16px;
    margin: 0px 509.750px;
    border-radius: 5px;
    font-weight: bold;
}
/*
.opcoesHeader {

}
.opcoesHeader.a {

}
*/
.opcoesHeader:hover {
    color: rgb(0,0,0,0.5);
}
/* .Agendamento {
    display: inline-block;
    position: fixed;
    background-color: #FFD30F;
    right: 120px;
    top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.Agendamento.a {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#agendamentoTexto:hover {
    background-color: rgb (0,0,0,0.5);
} */

.colunm{
    float: left;
    padding: 10px;
}

.colunm.side{
    width: 25%;
}

.colunm.image{
    width: 20%;
    height: 10%;
    border-radius: 5%;
    
}

.Sobre_Titulo{
    text-align: center;
    padding: 0;
    font-size: 30px;
    max-width: 220px;
    line-height: 1.8;
    background-color: #100F04;
    color: #FFD30F;
    font-weight: bold;
}

.Sobre_Texto{
    justify-content: flex-end;
    text-align: right;
    padding: 0;
    font-size: 15px;
    max-width: 220px;
    line-height: 1.8;
    background-color: #100F04;
    color: #FFFFFF;
    line-height: 1.5;
}

.div_localizacao{
    background-color: #605838;
}

.localizacao_Titulo{
    padding: 0 0 0 0;
    text-align: center;
    font-size: 30px;
    max-width: 220px;
    line-height: 1.8;
    background-color: #605838;
    color: #BEAF6A;
    line-height: 1.5;
    font-weight: bold; 
}

.Localizacao_Texto{
    padding: 0 0 0 0;
    text-align: justify;
    font-size: 18px;
    max-width: 220px;
    line-height: 1.8;
    background-color: #605838;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.5;
}

.Servicos{
    padding: 0 0 0 0;
    text-align: justify;
    font-size: 18px;
    max-width: 220px;
    line-height: 1.8;
    background-color: #605838;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.5;
}

.Horario_Titulo{
    padding: 0 0 0 0;
    text-align: left;
    font-size: 25px;
    max-width: 300px;
    line-height: 1.8;
    color: #FFFFFF;
    line-height: 1.5;
}

.Horario_Texto{
    font-family: sans-serif;
    text-decoration: none;
    color: #BEAF6A;
    font-weight: bold;
}

.navbar{
    position: sticky;
    top: 0
}
